body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  height: 42px;
  margin-bottom: 50px;
}
.h2 {
  align-items: center;
  padding: 94px 0px 50px 0px;
}
h3 {
  font: 700;
  font-size: 18px;
  line-height: 36px;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 10px;
}

p {
  font-weight: 400;
  size: 16px;
  line-height: 30px;
  color: #757575;
}

.another-none {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.buttons :hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
}

.another-none:hover,
.another-none:focus {
  color: #2196f3;
}

.href :hover,
.href:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
}

link {
  text-decoration: none;
  color: aliceblue;
}

a:hover,
a:focus {
  color: #2196f3;
}

button {
  line-height: 139%;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 0;
  line-height: 26px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
}

.button-place {
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  margin: 0 auto;
  padding: auto;
  margin-top: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.href {
  line-height: 146%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  line-height: 100%;
}
.container-footer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  line-height: 100%;
}

.container-class {
  max-width: 1200px;
  width: 100%;
  line-height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section{
  padding-bottom: 94px;
}
section {
 
  margin: 0 auto;
}
.section1{
  padding-top: 94px;
}

header {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
}

header-contact-link {
  display: flex;
  align-items: center;
  
}

.header-adress:hover .icon-envelope,
.header-adress:focus .icon-envelope {
  stroke: #2196f3;
}

.header-adress:hover .icon-smartphone,
.header-adress:focus .icon-smartphone {
  stroke: #2196f3;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-position {
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-position {
  padding: 32px;
  justify-content: center;
}

.header-adress {
  justify-content: right;
  display: flex;
  align-items: center;
  color: #757575;
}
.header-adress:focus ,
.header-adress:hover {
  fill: #2196f3;
  color: #2196f3;
}
.header-adress a {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header-adress>a:last-child {
  margin-left: 50px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header li {
  list-style-type: none;
}
.header-adress-color{
  color:#757575;
}
.header-adress-color:hover,
.header-adress-color:focus{
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}
.header-adress li:hover,
.header-adress li:focus {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}
.header-adress ul {
  display: flex;
  text-align: center;
  justify-content: center;
  color:#757575;
}
.header-adress li {
  column-gap: 30px;
  padding-left: 10px;
  fill: #757575;
  }

.clients-item {
  margin-left: 30px;
}

.clients-item-svg {
  margin-right: 10px;
}

.clients-item-svg:focus,
.clients-item-svg:hover {
  fill: #2196f3;
  cursor: pointer;
}
.menu1 {
  list-style: none;
  display: flex;
}
.menu1>.item:not(:last-child) {
  margin-right: 32px;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 56px;
}
.menu>.item:not(:last-child) {
  margin-right: 8px;
}
.img {
  background-size: 1600px 600px;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/index-picture/Img.png);
}

.about-us {
  display: flex;
  list-style-type: none;
}

.about-us p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #757575;
}

.background-svg {
  background-color: rgba(245, 244, 250, 1);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  text-align: center;
}

.about-us-svg {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
}
.card {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.card-set img{
  display: block;
  width: 100%;
}

.card:focus,
.card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.card-set {
  display: flex;
 flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  height: 100%;
}

.portfolio h3 {
  margin: 24px 20px 4px 20px;
}

.portfolio p {
  margin: 0 20px 24px 20px;
}

.card-index {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.card-index>.item:not(:last-child) {
  margin-right: 30px;
}

.tile {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 270px;
  height: 428px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

.ower-team {
  background-color: #f5f4fa;
 
  width: 100%;
  
}

.team-svg {
  fill: rgba(175, 177, 184, 1);
  padding-top: 28px;
  width: 206px;
  margin: 0 auto;
  height: 44px;
  display: flex;
  justify-content: space-around;
}

.background-team-svg {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: space-around;
}

.background-team-svg:hover,
.background-team-svg:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}





.us-clients {
  display: flex;
  justify-content: space-around;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
  list-style-type: none;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
}

.clients:hover .item-client,
.clients:focus .item-client,
.clients:hover,
.clients:focus {
  fill: rgba(33, 150, 243, 1);
  border-color: #2196f3;
  cursor: pointer;
}

.clients:hover {
  color: rgba(33, 150, 243, 1);
}

.item-client {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
  height: 252px;
 
  width: 100%;
}
.footer-block {
  display: inline-block;
}
.footer-block1 {
  display: inline-block;
  width: 206px;
  height: 80px;
}
.blue-font {
  color: #2196f3;
}
.footer-adress {
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
  list-style-type: none;
}
.footer-adress a {
  color: #ffffff;
}
.footer-adress li {
  padding: 9px 0;
}
.item-svg-footer:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.item-svg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ececec;
  height: 44px;
  width: 44px;
}

.join-to-us ul {
  display: flex;
  text-align: center;
  justify-content: left;
  list-style-type: none;
}

.join-to-us li:not(:first-child) {
  margin-left: 10px;
}

.join-to-us p {
  color: rgba(255, 255, 255, 1);
  padding-bottom: 20px;
}

.join-to-us {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

address {
  padding: 11px 0 0;
}

.adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.logo-color {
  color: #ffffff;
}

.footer-color a {
  color: rgba(255, 255, 255, 0.6);
}

.icons-footer {
  display: flex;
}